{% extends 'base.html' %}
{% block content %}
    <div>
        <h1>Lista de Vendedores</h1>
        <form action="{% url 'seller_search' %}" method="GET">
            <input name="q" type="number" placeholder="Buscar por ID">
        </form>
        <a href="{% url 'seller_create' %}">Cargar</a>
    </div>
    {% if object_list %}
        {% for seller in object_list %}
            <li>
                <a href="{% url 'seller_detail' seller.id %}">{{ seller.name }}</a>
                <a href="{% url 'seller_update' seller.id %}">Actualizar</a>
                <a href="{% url 'seller_delete' seller.id %}">Borrar</a>
            </li>
        {% endfor %}
    {% else %}
        <p>No hay Vendedores</p>
    {% endif %}
    <p></p>
{% endblock content %}
