{% extends 'base.html' %}
{% block content %}
    <div>
        <h2>Lista de Productos</h2>
        <form action="{% url 'product_search' %}" method="GET">
            <input type="number" name="product_id" id="product_id">
            <input type="submit" value="Buscar">
        </form>
        <a href="{% url 'product_create' %}">Crear un producto</a>
    </div>
    <p></p>
    {% if object_list %}
        {% for product in object_list %}
            <li>
                <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                <a href="{% url 'product_update' product.id %}">U</a>
                <a href="{% url 'product_delete' product.id %}">X</a>
            </li>
        {% endfor %}
    {% else %}
        <p>No hay productos</p>
    {% endif %}
    <p></p>
{% endblock content %}
